
#coverDisplay{
    position: fixed;
    top: 0;
    left: 0;
    background: #444;
    background: rgba(68,68,68,0.8);
    overflow: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1500;
}
#imgLoading{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
.contenidoperm > .row {
    width: 1100px !important;
    margin-left: auto;
    margin-right: auto;
}
.contenidoperm{
    min-width: 1100px !important;
}
.navbar{
    min-width: 1100px !important;
}
#paginacion li.noActive{
    cursor:pointer;
}
#modal-editar-empleado .modal-dialog,#modal-editar-titular .modal-dialog{ 
    width:960px;
}